<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" type="text/css" href="../personal_dist/style.css" />
        <script type="text/javascript" src="../function.js"></script>
    
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="../personal_dist/our.css">
        <link href="https://fonts.googleapis.com/css?family=Georgia" rel="stylesheet">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    
        <script src="https://unpkg.com/scrollreveal"></script>
        
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
        <title>Anulare</title>
    <style>
        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 210pt;
            height: 300pt;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid rgba(0, 0, 0, .125);
            border-radius: .25rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .img-card{
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 100%;
            width: auto;
        }
        .card-body {
            flex: 1 1 auto;
            padding: 1rem;
            min-height: 1;
        }
    </style>
    </head>
    <body>


<div class="container cont">

    <form id="form" action="">
    <input id="checkin" class="date" onchange="setcheckin()" required>
    <input id="checkout" class="date" onchange="setcheckout()" required>
    <input type="submit" value="aggiungi viaggio a google calendar">

</form>

</div>
    </body>

    <script>
        $('#form')[0].action="<%=url%>"
        var url='<%=url%>';
        function setcheckin(){

        }
        function setcheckout(){}
    </script>
    </html>